n8n_huggingface_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "imagine",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api-inference.huggingface.co/models/stabilityai/stable-diffusion-xl-base-1.0",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_HF_TOKEN_HERE"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "inputs",
                            "value": "={{$json.body.prompt}} (high quality, 8k, photorealistic)"
                        }
                    ]
                },
                "options": {
                    "responseFormat": "file",
                    "fileName": "image.jpg"
                }
            },
            "id": "huggingface",
            "name": "HuggingFace API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                700,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://linkup-ewud.onrender.com/api/upload/bot",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "file",
                            "parameterType": "formBinaryData",
                            "value": "data"
                        }
                    ]
                },
                "options": {}
            },
            "id": "upload",
            "name": "Upload to Backend",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                940,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://linkup-ewud.onrender.com/api/messages/bot",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "conversationId",
                            "value": "={{$node[\"Webhook\"].json.body.conversationId}}"
                        },
                        {
                            "name": "content",
                            "value": "🎨 Generated by Stable Diffusion XL:\n> {{$node[\"Webhook\"].json.body.prompt}}"
                        },
                        {
                            "name": "messageType",
                            "value": "image"
                        },
                        {
                            "name": "attachmentUrl",
                            "value": "={{$json.url}}"
                        }
                    ]
                }
            },
            "id": "send-chat",
            "name": "Send to Chat",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1180,
                340
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "HuggingFace API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HuggingFace API": {
            "main": [
                [
                    {
                        "node": "Upload to Backend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to Backend": {
            "main": [
                [
                    {
                        "node": "Send to Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}