n8n_pollinations_auth_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "imagine",
                "options": {}
            },
            "id": "webhook-pollinations",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                340
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://image.pollinations.ai/prompt/{{encodeURIComponent($json.body.prompt)}}?nologo=true",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer pk_3n9GJUr4Rv7JuzSE"
                        }
                    ]
                },
                "options": {
                    "responseFormat": "file",
                    "fileName": "generated.jpg"
                }
            },
            "id": "pollinations-api",
            "name": "Pollinations Gen",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                700,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://linkup-ewud.onrender.com/api/upload/bot",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "file",
                            "parameterType": "formBinaryData",
                            "value": "data"
                        }
                    ]
                },
                "options": {}
            },
            "id": "upload-pollinations",
            "name": "Upload to Backend",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                940,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://linkup-ewud.onrender.com/api/messages/bot",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "conversationId",
                            "value": "={{ $('Webhook').item.json.body.conversationId }}"
                        },
                        {
                            "name": "content",
                            "value": "🎨 Generated by Pollinations:\n> {{ $('Webhook').item.json.body.prompt }}"
                        },
                        {
                            "name": "messageType",
                            "value": "image"
                        },
                        {
                            "name": "attachmentUrl",
                            "value": "={{$json.url}}"
                        }
                    ]
                }
            },
            "id": "send-chat-pollinations",
            "name": "Send to Chat",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1180,
                340
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Pollinations Gen",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pollinations Gen": {
            "main": [
                [
                    {
                        "node": "Upload to Backend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to Backend": {
            "main": [
                [
                    {
                        "node": "Send to Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}