n8n_smart_reply_gemini.json
{
    "name": "LinkUp Smart Replies (Gemini V1)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "smart-replies",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "webhook",
            "name": "Webhook"
        },
        {
            "parameters": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCtfIsUUcyjsvTgweNWSG1HRd_laIPDKXk",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "keypair",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "contents",
                            "value": "={{ [{\n    \"role\": \"user\",\n    \"parts\": [{\n        \"text\": \"Act as the user (me) replying to a friend in a chat app. Generate 5 short, casual, and natural replies based on the incoming message context.\\n\\nRules:\\n1. Be conversational and human-like (use slang if appropriate, e.g. 'lol', 'yeah').\\n2. Do NOT act like an AI or assistant.\\n3. Keep it brief (1-5 words preferred, max 10).\\n4. **CRITICAL**: If the incoming message is NOT in English, return an empty array [] (do not generate replies).\\n\\nIncoming Context:\\n\" + $json.body.chat + \"\\n\\nOutput ONLY a valid JSON array of strings, e.g.: [\\\"Sounds good\\\", \\\"Where are you?\\\", \\\"Lol no\\\", \\\"I'm busy\\\", \\\"Call me\\\"]\\n\\nDo not include ```json blocks.\"\n    }]\n}] }}"
                        }
                    ]
                },
                "options": {}
            },
            "retryOnFail": true,
            "maxTries": 5,
            "waitBetweenTries": 2000,
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                220,
                0
            ],
            "id": "gemini-api",
            "name": "Gemini API"
        },
        {
            "parameters": {
                "jsCode": "let rawContent = items[0].json.candidates[0].content.parts[0].text;\n\n// Clean up formatting if AI adds markdown\nlet content = rawContent.replace(/```json/g, '').replace(/```/g, '').trim();\n\nlet replies = [];\ntry {\n  replies = JSON.parse(content);\n} catch (e) {\n  replies = [\"👍\", \"Okay\", \"Sounds good\"];\n}\n\nreturn [{ json: { output: replies } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                0
            ],
            "id": "format-gemini-output",
            "name": "Format Output"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.output }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                660,
                0
            ],
            "id": "respond",
            "name": "Respond"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Gemini API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini API": {
            "main": [
                [
                    {
                        "node": "Format Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Output": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}