n8n_google_imagen_workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "imagine",
                "options": {}
            },
            "id": "webhook-google",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/imagen-3.0-generate-001:predict",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "YOUR_GOOGLE_API_KEY"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "instances",
                            "value": "=[ { \"prompt\": \"{{$json.body.prompt}}\" } ]"
                        },
                        {
                            "name": "parameters",
                            "value": "{ \"sampleCount\": 1, \"aspectRatio\": \"1:1\", \"outputOptions\": { \"mimeType\": \"image/jpeg\" } }"
                        }
                    ]
                },
                "options": {}
            },
            "id": "google-imagen",
            "name": "Google Imagen API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                700,
                340
            ]
        },
        {
            "parameters": {
                "jsCode": "const base64Info = items[0].json.predictions[0].bytesBase64Encoded;\nreturn [\n  {\n    json: { prompt: $('Webhook').item.json.body.prompt },\n    binary: {\n      data: {\n        data: base64Info,\n        mimeType: 'image/jpeg',\n        fileExtension: 'jpg',\n        fileName: 'generated.jpg'\n      }\n    }\n  }\n];"
            },
            "id": "base64-convert",
            "name": "Convert Base64",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                940,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://linkup-ewud.onrender.com/api/upload/bot",
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "file",
                            "parameterType": "formBinaryData",
                            "value": "data"
                        }
                    ]
                },
                "options": {}
            },
            "id": "upload-google",
            "name": "Upload to Backend",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1180,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://linkup-ewud.onrender.com/api/messages/bot",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "conversationId",
                            "value": "={{ $('Webhook').item.json.body.conversationId }}"
                        },
                        {
                            "name": "content",
                            "value": "🎨 Generated by Google Imagen 3:\n> {{ $('Webhook').item.json.body.prompt }}"
                        },
                        {
                            "name": "messageType",
                            "value": "image"
                        },
                        {
                            "name": "attachmentUrl",
                            "value": "={{$json.url}}"
                        }
                    ]
                }
            },
            "id": "send-chat-google",
            "name": "Send to Chat",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1420,
                340
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Google Imagen API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Imagen API": {
            "main": [
                [
                    {
                        "node": "Convert Base64",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Convert Base64": {
            "main": [
                [
                    {
                        "node": "Upload to Backend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to Backend": {
            "main": [
                [
                    {
                        "node": "Send to Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}