n8n_ai_chat_workflow.json
{
    "name": "LinkUp AI Chatbot",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-chat",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "webhook-trigger",
            "name": "Webhook"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1,
            "position": [
                220,
                0
            ],
            "id": "ai-agent",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                220,
                240
            ],
            "id": "openai-model",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_CREDENTIAL_ID_HERE",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://linkup-ewud.onrender.com/api/messages/bot",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "conversationId",
                            "value": "={{ $node[\"Webhook\"].json.body.conversationId }}"
                        },
                        {
                            "name": "content",
                            "value": "={{ $json.text }}"
                        },
                        {
                            "name": "messageType",
                            "value": "text"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                580,
                0
            ],
            "id": "reply-to-chat",
            "name": "Reply to Chat"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_language_model": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_language_model",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Reply to Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}